body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 249, 230);
    margin: 0;
    padding: 20px;
}
#volver {
    background: #f50057;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 0;
}

section {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 20px;
    margin-left: 600px;
    margin-right: 600px;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
}
#nivel {
    background: rgb(255, 249, 230);
    border: 4px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    top: 20px;
    right: 20px;
}
#trofeo {
    font-size: 80px;
    margin-bottom: 20px;
}

#tex {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#btn {
    margin-top: 200px;
    background: #f50057;
    color: white;
    border: none;
    padding: 18px 200px;
    border-radius: 5px;
    cursor: pointer;
}
#btn2 {
    margin-top: 10px;
    background: #f50057;
    color: white;
    border: none;
    padding: 18px 200px;
    border-radius: 5px;
    cursor: pointer;
}


#btn3 {
    background: #f50057;
    color: white;
    border: none;
    padding: 18px 185px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#btn:hover,#btn2:hover, #btn3:hover, #volver:hover {
    background: #d1155d;
}

.container {
  width: 90%;   /* se adapta al ancho */
  margin: auto;
}
.character {
  flex-direction: column;
  align-items: center; 
  margin-top: 30px;
}
.character label {
  margin-top: 10px;
  font-weight: bold;
}
.character input {
  padding: 10px;
  margin-top: 5px;
  width: 30%;  
  border: 1px solid #ddd;
  border-radius: 5px;
}
#sexo {
  padding: 10px;
  margin-top: 5px;
  width: 45%;  
  border: 1px solid #ddd;
  border-radius: 5px;
}
#btn4{
    background: #f50057;
    color: white;
    border: none;
    padding: 18px 185px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
}
#btn4:hover, #btn5:hover {
    background: #d1155d;
}
.btn5 {
 position: relative;
  background-color: #f50057;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border: 1px solid #444;
}
.btn5 input[type="checkbox"] {
  position: absolute;
  top: 8px;
  right: 10px;
  appearance: none;   
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: white;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 
                     79% 91%, 50% 70%, 21% 91%, 32% 57%, 
                     2% 35%, 39% 35%);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #000000;
}
.btn5 input[type="checkbox"]:checked {
  background-color: gold;
  border-color: goldenrod;
}

