* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.planes {
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.planes h2 {
  color: #ff1660;
  font-size: 32px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Hace que se acomoden si la pantalla es más pequeña */
}

.card {
  background-color: #fff8e5;
  border-radius: 20px;
  padding: 25px;
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  border:solid 2px #ff1660;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 70px;
  margin: 5px;
}

.card h3 {
  color: #ff1660;
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
}

.card p {
  color: #333;
  font-size: 14px;
  margin: 10px 0 15px;
  line-height: 1.4;
}

.price {
  display: block;
  color: #ff1660;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ff1660;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #ff1660;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff4081;
}

.volver {
  background-color: #ff1660;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

